/* make all img the same size: */


.flex-container {
    background: url(images/bckgroundtrees.jpeg) no-repeat center;
    align-items: stretch;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
img {
    width: 150px;
    border-radius: 50%;
    padding: 2px solid;
    margin: auto;
    border: 3px solid black;
}